body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background: burlywood;
max-width: 900px;
margin: auto;
}
.photo {
    border-radius: 50%;
    border: 8px solid black;
}
#title {
    font-size: 02cm;
    text-transform: uppercase;
    color: red;
}
.subtitle{
    text-decoration: underline;
}
.subtitle,.post_title {
    text-transform: capitalize;
 color: darkred;
}
.post_title {
    margin: 0%;
    margin-bottom: 15px;
    font-size: 16px;
    font-style: italic;
}
 .post {
     background: white;
 padding: 15px;
 border: 3px solid black;
 margin-bottom: 15px;
 border-radius: 5px;
}
.post_content {
    margin: 0%;
    margin-bottom: 15px;
    text-align: center;
}
.post_image {
    margin-bottom: 15px;
    width: 100%;
}
a {
    text-decoration: 0;
    color: brown;
}
.contact-list {
    padding-left: 20px;
    text-decoration: underline;
}